PAYMENT_MTLS_CERT_PATH=certs/badssl.com-client.pem
# If the cert and key are in one file,
# fill only PAYMENT_MTLS_CERT_PATH
# and leave PAYMENT_MTLS_KEY_PATH empty
PAYMENT_MTLS_KEY_PATH=
PAYMENT_MTLS_KEY_PASSPHRASE=badssl.com
PAYMENT_CLIENT_ID=your-client-id
PAYMENT_HMAC_SECRET=test-secret
PAYMENT_INTEGRATION_URL=https://client.badssl.com/
